// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .card-icon {
  background-color: #343a40;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .customer-icon {
  background-color: #343a40;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .post-icon {
  background-color: #343a40;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 }