// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-visual {
  height: 300px;
  width: auto;
  background-image: image-url("mv2.jpg");
  // background-image: url(/images/mv2.jpg);
  background-size: cover;
  background-position: center;
}

.sake-post-genre {
  position:  absolute;  
  top: 5px;
  right: 5px;
  background-color: #00000055;
}

.headline {
  background-color: #000000aa;
}

.navbar-toggler-icon{
  /* 三本線 */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(200, 200, 200, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  // background-image: image-url("menu.png");
  background-color: #65AC8999;
  border-radius: 5px;
}

.navbar-toggler{
  /* 枠線 */
  border-color: #aaa;
  background-color: #65AC8999;
}

