<%= stylesheet_link_tag "application", :media => "all" %>

<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="main-visual">
        <div class="main-text">
        </div>
      </div>
      <div>
        <span><h4>新着投稿</h4></span>
      </div>
      <div class="row">
        <%= render "public/sake_posts/index", sake_posts: @sake_posts %>
      </div>
    </div>
    <div class="col-2 offset-1">
      <%= render "sidebar" %>
    </div>
  </div>
</div>