<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div>
        <span><h2>会員一覧</h2></span>
      </div>
      <div>
        <table class="table col-12 border table-hover">
          <thead>
            <tr>
              <div class="text-center border py-2"><h4>会 員 一 覧</h4></div>
            </tr>
            <tr>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.name %></td>
                <td><%= customer.email %></td>
                <td>
                  <% if customer.is_deleted == false %>
                    有効
                  <% else %>
                    無効
                  <% end %>
                </td>
                <td><%= link_to "詳細", admin_customer_path(customer) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>