<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>
        お酒一覧
        <% if @genre != nil %>
          (<%= @genre.genre %>)
        <% end %>
      </h1>
      <div class="row">
        <% if @sakes.any? %>
          <%= render "public/sakes/index", sakes: @sakes %>
        <% else %>
          <p>最初の投稿をお待ちしております！</p>
        <% end %>
      </div>
      <div>
        <%= paginate @sakes %>
      </div>
    </div>
    <div class="col-2 offset-1">
      <%= render "public/homes/sidebar" %>
    </div>
  </div>
</div>
